body {
    background-color: antiquewhite;
  }

  h1 {
    color: rgb(13, 1, 1);
  }

  h2 {
    color: #FAF8F1;
    background-color: #C58940;
  }
  h2 {
      text-align:center;
  }
  h1 {
     text-align: left;
  }
